 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body{
    background-color: black;
    color: white;
 }

 /* Navbar */
 #navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 auto;
    padding: 2rem;
}

 #navbar div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
 }

 #navbar p{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    color: rgb(141, 52, 224);
    padding: 0.5rem;
 }

 #links a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
 }

 #links a:hover{
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(141, 52, 224);
 }

 #arrow{
    padding: 0.5rem;
 }
 
 /* CSS for scroll-to-top and scroll-to-bottom links */
#top, #bottom {
    position: fixed;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 5px;
    right: 20px;
}



/* mobile view */
@media (max-width: 900px){
    #navbar{
        padding: 0;
    }

    #navbar > div{
        display: block
    }

}